extends layout

block append styles
    link(rel='stylesheet', href='/css/single.css')

append scripts
    script(src='/socket.io/socket.io.js')
    script(src='/js/chat.js')

block title
    title Chat

block header
    h1 Chat

block content
    section.chat-wrapper
        div.users


block add_scripts
