extends layout

block content
    nav
        ul
            li
                a(href='/problems/graph') Graph
            li
                a(href='/problems/drawler') Drawler
            li
                a(href='/problems/ball') Ball
            li
                a(href='/problems/fractal') Fractal
            li
                a(href='/problems/inelastic-collision') Inelastic Collision
            li
                a(href='/problems/reserford') Reserford experiment
            li
                a(href='/problems/gravity-nodes') Gravitational Force Between Particles
            li
                a(href='/problems/brownian') Brownian Motion
            li
                a(href='/problems/random') Random
            li
                a(href='/problems/gidrostat-paradox') gidro-paradox
            li
                a(href='/problems/granade') granade
