/* RESET STYLES*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    font: 14px tahoma, verdana, arial, sans-serif;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
ol, ul {
   list-style: none;
}

.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}

/*----- Main styles -----*/

html, body {
    background: #111;
}

a {
    color: #aaa;
    text-decoration: none;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

header h1 {
    padding-top: 20px;
    font-size: 18px;
    color: #337733;
    text-shadow: 0 0 1px;
}

nav > ul {
    margin-top: 20px;
    width: 300px;
}

nav a {
    display: block;
    border-top: 1px solid #193921;
    border-bottom: 1px solid #051105;
    border-left: 3px solid #112911;
    padding-left: 6px;
    line-height: 28px;
    background-color: #112911;
    box-shadow: -2px 2px 5px #000;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

nav ul li:hover > a {
    border-left-color:#335533;
    margin-right:-3px;
    background-color: #204020;
}

.iframe-box {

}

.canvas-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-top: 25px;
    background: black;
    border: 6px solid #222;
    border-radius: 2px;
    box-shadow: 0 0 2px black;
    -o-box-shadow: 0 0 2px #000;
    -moz-box-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 0 2px black;
    overflow: hidden;
    z-index: 10;
}
.canvas-wrapper canvas {
    position: relative;
    z-index: 10;
}
canvas.canvas-back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
#log {
    border: 2px solid #333;
    background: #0A0A0A;
    color: #888;
    margin-top: 25px;
    padding: 5px 10px;
}

nav#problems {
    float: left;
    margin-right: 20px;
}
nav#problems ul ul {
    /*display: none;*/
    margin-left: 20px;
}

.iframe-box {
    float: left;
    background: #333;
}